asgiref==3.11.0
dj-database-url==3.1.0
Django==6.0.1
django-htmx==1.27.0
flexcache==0.3
flexparser==0.4
Pint==0.25.2
platformdirs==4.6.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
django-storages==1.14.2
boto3==1.34.0
Pillow
requests