{% extends "base.html" %}

{% block content %}


{% if not request.user.is_authenticated %}
    <div>
        <form action="" method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a> </p>
    </div>
{% else %}
<p> You're already logged in and cannot registers. Would you like to <a href='/logout/' >logout</a> ?</p>
{% endif %}

{% endblock content %}


